body {
    background-color: black;
    color: aquamarine;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    /* text-shadow: 4px 4px 4px #aaa; */
}

.head{
    position: relative;
    padding: 0;
}

.img-fluid{
    width: 100%;
    height: 300px;
}

.artist-credit {
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    text-align: center;
}

.welcome {
    font-size: 2rem;
    text-align: center;
    
}

.artworks {
    border: 2px crimson solid;
    width: 30%;
    height: 30%;
    position: relative;
    margin: auto;
    
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#art-display{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#information-display {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h6 {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

